/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

MAIN COLOR:
GRAY COLOR:
ACCENT COLOR:
*/

/* ==================== HTML DEFAULTS ==================== */

html { font-size: 62.5%; }

body { font-size: 1.6rem; }

h1 { font-size: 5.2rem; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 1; }
h2 { font-size: 4.4rem; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 1; }
h3 { font-size: 3.6rem; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 1; }
h4 { font-size: 3rem; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 1; }
h5 { font-size: 2.4rem; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 1; }
h6 { font-size: 2rem; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 1; }

a { cursor: pointer; }

img {
    display: block;
    margin: 0 auto;
}

.hidden { display: none; }

/* ==================== COLORS ==================== */

:root {
    --breakpoint-4: 320px; /* 4 columns, mobile-portrait */
    --breakpoint-5: 540px;
    --breakpoint-6: 480px; /* 6 columns, mobile-landscape */
    --breakpoint-9: 720px; /* 9 columns, tablet-portrait */
    --breakpoint-12: 960px; /* 12 columns, tablet-landscape */
    --breakpoint-14: 1120px; /* 14 columns, laptop-small */
    
    /* Spacers */
    --gutter-col-padding: 10px;
    --gutter-col-1: 20px;
    --gutter-col-2: 40px;
    --gutter-col-3: 60px;
    --gutter-col-4: 80px;
    --gutter-row-padding: 8px;
    --gutter-row-1: 16px;
    --gutter-row-2: 32px;
    --gutter-row-3: 48px;
    --gutter-row-4: 64px;
    --gutter-row-5: 80px;
    --gutter-row-8: 128px;
    --gutter-row-10: 160px;
    --backup-row-0: -8px;
    --backup-row-1: -16px;
    --backup-row-2: -32px;
    --backup-row-3: -48px;
    --backup-row-4: -64px;
    --backup-row-5: -80px;
    --image-col-1: 60px;
    --image-col-2: 140px;
    --image-col-3: 220px;
    --image-col-4: 300px;

    /* Gray Shades */
    --gray-100: #EDEDED;
    --gray-200: #DBDBDB;
    --gray-300: #C9C9C9;
    --gray-400: #B8B8B8;
    --gray-500: #A6A6A6;
    --gray-600: #858585;
    --gray-700: #636363;
    --gray-800: #424242;
    --gray-900: #212121;

    /* Red Shades */
    --red-100: #F2C5C9;
    --red-200: #E68E97;
    --red-300: #D95461;
    --red-400: #BC2A38;
    --red-500: #831D27;
    --red-600: #68171F;
    --red-700: #4F1218;
    --red-800: #360C10;
    --red-900: #190608;

    /* Green Shades */
    --green-100: #C6F5D8;
    --green-200: #8EECB0;
    --green-300: #5AE38C;
    --green-400: #25D565;
    --green-500: #1B9D4B;
    --green-600: #167E3C;
    --green-700: #10602E;
    --green-800: #0A3D1D;
    --green-900: #051E0E;

   /* Blue Shades */
   --blue-100: #B2C2F5;
   --blue-200: #6584EB;
   --blue-300: #1C49DE;
   --blue-400: #133195;
   --blue-500: #091757;
   --blue-600: #07133B;
   --blue-700: #050D29;
   --blue-800: #03091B;
   --blue-900: #02040E;
   
   /* Orange Shades */
   --orange-100: #FAECD6;
   --orange-200: #F5DAAD;
   --orange-300: #F1C989;
   --orange-400: #ECB660;
   --orange-500: #E7A337;
   --orange-600: #CD8819;
   --orange-700: #9B6713;
   --orange-800: #64420C;
   --orange-900: #332106;
}

.section-title { font-size: 4.4rem; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 1; font-weight: 700; }
.section-subtitle { font-size: 2.0rem; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 1; font-weight: 700; }

.header-green { color: var(--green-400) }
.header-orange { color: var(--orange-600); }
.header-white { color: white; }

.anchor-green {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--green-700);
}

.anchor-green:hover { color: var(--green-900); }

.bold-normal { font-weight: 600; }

.underline-orange {
    box-shadow: inset 0 -6px var(--orange-600);
    font-weight: 600;
}

.highlight-orange { color: var(--orange-400); }

/* ==================== MEDIA QUERIES ==================== */

@media (max-width: 800px) {
    h1 { font-size: 3.8rem; }
    h2 { font-size: 3.4rem; }
    h3 { font-size: 3.0rem; }
    h4 { font-size: 2.6rem; }
    h5 { font-size: 2.2rem; }
    h6 { font-size: 1.8rem; }
    .section-title { font-size: 3.4rem; }
    .section-subtitle { font-size: 1.8rem; }
}

@media (max-width: 400px) {
    h1 { font-size: 2.8rem; }
    h2 { font-size: 2.6rem; }
    h3 { font-size: 2.4rem; }
    h4 { font-size: 2.2rem; }
    h5 { font-size: 2.0rem; }
    h6 { font-size: 1.8rem; }
    .section-title { font-size: 3.4rem; }
    .section-subtitle { font-size: 1.8rem; }
}

/* ==================== COMPONENTS ==================== */

.button {
    display: inline-block;
    border: 1px solid var(--gray-500);
    border-radius: 5px;
    padding: var(--gutter-row-padding) var(--gutter-col-padding);

    background-color: var(--gray-300);
    color: var(--gray-900);
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    box-shadow: 0px 6px 32px -10px var(--gray-300);
    transition: background-color 200ms ease-in-out;
}

.button:hover {
    border-color: var(--gray-900);
    background-color: var(--green-400);
    box-shadow: 0px 6px 32px -10px var(--green-400);
    color: var(--gray-900);
}

.group {
    display: inline-block;
    border: 1px solid var(--gray-500);
    border-radius: 5px;
    overflow: hidden; /* maintains border-radius */

    box-shadow: 0px 6px 32px -10px var(--gray-300);
    transition: background-color 200ms ease-in-out;
}

.group:hover {
    box-shadow: 0px 6px 32px -10px var(--gray-900);
}

/* ==================== HEADER ==================== */

header {
    width: 100%;
    position: sticky;
    top: 0;
    border-bottom: solid 1px var(--gray-400);
    background-color: var(--gray-900);
    color: var(--gray-400);
    display: block;
}

header img {
    width: var(--gutter-col-3);
    height: var(--gutter-col-3);
    position: relative;
    background-color: var(--gray-100);
}

header img:hover {
    background-color: var(--green-400);
}

.header {
    max-width: var(--breakpoint-14);
    margin: 0 auto;
    padding: var(--gutter-row-1) var(--gutter-col-padding);

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--gutter-col-1);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li:hover { color: var(--green-400); }

nav ul.menu-normal img {
    width: var(--gutter-col-2);
    height: var(--gutter-col-2);
}

.menu-normal {
    display: flex;
    gap: var(--gutter-col-1);
}

.menu-normal li {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-self: center;
    align-items: center;
}

nav ul.menu-mobile { display: none; }

@media (max-width: 540px) {
    nav ul.menu-normal { display: none; }

    nav ul.menu-mobile {
        display: flex;
        position: absolute;
        top: var(--gutter-row-1);
        right: var(--gutter-col-padding);
    }

    .nav-toggle { display: inline-block; }
}

/* ==================== HERO-SECTION ==================== */

.hero-section {
    display: block;
    background-color: var(--gray-900);
    color: var(--gray-400);
}

.hero-section img {
    width: 256px;
    height: auto;
}

.hero-section ul {
    max-width: var(--breakpoint-14);
    margin: 0 auto;
    padding: var(--gutter-row-5) var(--gutter-col-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-section ul li:nth-child(2) { padding: var(--gutter-row-2) 0; }

.hero-section ul li:last-child { padding-top: var(--gutter-col-1); }

/* ==================== PROBLEMS-SECTION ==================== */

.problems-section {
    max-width:  var(--breakpoint-9);
    margin: 0 auto;
    padding: var(--gutter-row-5) var(--gutter-col-padding);

    display: flex;
    flex-direction: row;
    column-gap: var(--gutter-col-2);
    justify-content: space-between;
    align-items: center; /* vertical alignment */
}

.problems-section img {
    width: var(--image-col-3);
    height: auto;
}

.problems-1 {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.problems-2 {
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter-col-1);
    justify-self: flex-end;
}

.problems-2 ul li {
    margin-bottom: var(--gutter-row-padding);
    padding-left: 36px;
    background-image: url("../images/problems-star-orange.png");
    background-size: var(--gutter-row-2) var(--gutter-row-2);
    background-position: left center;
    background-repeat: no-repeat;
}

.problems-2 .section-subtitle {
    margin-top: var(--backup-row-1); 
    line-height: 1.5;     
}

@media (max-width: 680px) {
    .problems-section {
        padding: var(--gutter-row-5) var(--gutter-col-2);

        display: flex;
        flex-direction: column;
        row-gap: var(--gutter-row-2);
        justify-content: center;
    }

    .problems-section img { width: var(--image-col-2); }

    .problems-1, .problems-2 { justify-self: center; }

    .problems-2 .section-title, .problems-2 .section-subtitle { text-align: center; }

    .problems-2 .section-subtitle { margin: 0 0 var(--gutter-row-1) 0; }
}

/* ==================== SOLUTIONS-SECTION ==================== */

.solutions-section {
    display: block;
    background-color: var(--green-200);
}

.solutions {
    max-width:  var(--breakpoint-9);
    margin: 0 auto;
    padding: var(--gutter-row-5) var(--gutter-col-padding) 188px var(--gutter-col-padding);

    display: flex;
    flex-direction: row;
    column-gap: var(--gutter-col-2);
    justify-content: space-between;
    align-items: center; /* vertical alignment */
}

.solutions-1, .solutions-2 {
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter-col-1);
}

.solutions-1 .section-subtitle {
    margin-top: var(--backup-row-1); 
    line-height: 1.5;     
}

.solutions-figure {
    width: 580px; /* bug: could not set width normally with flex-shrink: 0 */
    height: auto;
}

.solutions-cta { 
    border-color: var(--gray-700);
    background-color: var(--green-400); 
}

.solutions-cta:hover {
    background-color: var(--gray-900);
    color: var(--green-400);
}

@media (max-width: 1120px) {
    .solutions { padding: var(--gutter-row-5) var(--gutter-col-2); }

    #explore { margin: 0; padding: 0; }
}

@media (max-width: 680px) {
    .solutions {
        display: flex;
        flex-direction: column;
        row-gap: var(--gutter-row-2);
        justify-content: center;
        text-align: center;
    }

    .solutions-figure { margin-top: var(--gutter-row-1); width: var(--image-col-2); }

    .solutions-1, .solutions-2 { justify-self: center; }

    .solutions-1 .section-subtitle { margin: 0 0 var(--gutter-row-1) 0; }
}

/* ==================== BENEFITS-SECTION ==================== */

.benefits-section {
    max-width: var(--breakpoint-14);
    margin: -140px auto 0 auto;
    padding: 0 var(--gutter-col-padding);
    border: 1px solid var(--gray-500);
    border-radius: 5px;
    box-shadow: 0px 6px 32px -10px var(--gray-300);
    background-color: white;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
}

.benefits-1 { margin: var(--gutter-row-3) 0; }

.benefits-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.benefits-2 img {
    width: var(--gutter-row-5);
    height: auto;
    padding-bottom: var(--gutter-row-2);
}

.benefits-2 > li { padding: 0 var(--gutter-col-1); }

.benefits-2 > li:nth-child(2) {
    border-left: 1px solid var(--gray-500);
    border-right: 1px solid var(--gray-500);   
}

.benefits-item {
    padding: var(--gutter-row-3) 0;
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter-col-2);
}

.benefits-item li:first-child h6 {
    padding: var(--gutter-row-1) 0;
    color: var(--green-600);
    text-decoration: underline;
}

/* ==================== MAIN ==================== */

main {
    display: block;
    max-width: var(--breakpoint-14);
    margin: 0 auto;
    padding: 0 var(--gutter-col-padding);
    text-align: center;
}

/* ==================== PORTFOLIO-SECTION */

.portfolio-section {
    max-width: var(--breakpoint-14);
    padding: var(--gutter-row-5) 0;
}

.portfolio-1 { 
    padding-bottom: var(--gutter-row-5);
    display: flex; 
    flex-direction: column; 
    row-gap: var(--gutter-row-1); 
}

.portfolio-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gutter-col-1);
    row-gap: var(--gutter-col-1);
}

.portfolio-2 li img {
    width: 100%;
    height: var(--image-col-3);
    object-fit: cover; /* maintain aspect ratio */
    display: block; /* avoid inline spacing issues */   
}

.project-item-default {
    display: none;
}

.project-item {
    width: 100%;
    height: var(--image-col-3);
    padding: var(--gutter-col-1);
    background-color: var(--gray-900);
    color: var(--orange-400);

    display: flex;
    flex-direction: column;
    row-gap: var(--gutter-row-2);
    justify-content: center; /* center item vertically */
    align-items: center; /* center item horizontally */
    text-align: center; /* center TEXT horizontally */
}

.project-item h6 { line-height: 1.5; }

/* ==================== TESTIMONIALS-SECTION */

.testimonials-section {
    width: 100%;
    max-width: var(--breakpoint-14);
    border-top: 1px solid var(--gray-400);
    padding: var(--gutter-row-5) 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.testimonials-1, .testimonials-2 {
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter-row-1);
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.testimonials-1 li p.section-title { margin-bottom: var(--gutter-row-1); }

.testimonials-2 li:first-child .img-bigger {
    margin: var(--gutter-row-2) 0 var(--gutter-row-1) 0;
    width: var(--image-col-2);
    height: var(--image-col-2);
}

.testimonials-2 li:nth-child(2) blockquote {
    min-width: var(--breakpoint-4);
    max-width: var(--breakpoint-6);
    border-left: var(--gutter-row-padding) solid var(--green-600);
    padding: var(--gutter-row-1);
    background-color: var(--orange-400);
}

.testimonials-2 li:nth-child(3) { margin-top: var(--gutter-row-padding); }

.testimonials-2 li:last-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonials-2 li:last-child a { text-decoration: none; }

.testimonials-2 li:last-child a:hover { text-decoration: underline; }

/* ==================== FOOTER ==================== */

footer {
    display: block;
    background-color: var(--gray-900);
    color: var(--gray-400);
}

footer img { background-color: var(--gray-400); }

footer img:hover { background-color: var(--green-400); }

footer .img-bigger {
    width: var(--gutter-col-4);
    height: var(--gutter-col-4);
}


footer .img-smaller {
    width: var(--gutter-col-2);
    height: var(--gutter-col-2);
}

footer ul {
    max-width: var(--breakpoint-14);
    margin: 0 auto;
    padding: var(--gutter-row-5) var(--gutter-col-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer ul li:nth-child(2) { margin: var(--gutter-row-3) 0; }

footer ul li:nth-child(2) p { margin: var(--gutter-row-1) 0 var(--gutter-row-3) 0; }

footer ul li:last-child {
    display: flex;
    flex-direction: row;
    column-gap: var(--gutter-col-1);
}
